$headingcolor: #16171b;
$subtextcolor: #919191;
$blogbackground: #f9f8fc;
$hovercolor: #ff5253;
$paragraphcolor: #919191;
$loadingimagecolor: #f2f3f5;
$hovercolorinactive: rgba(255,255,255,0);
$hovercoloractive: rgba(37, 35, 58, 0.8);
$h4color: #13161d;
$spancolor: #929294;

footer{
    background: $blogbackground;
    padding: 100px 15px;
    .social-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        max-width: 400px;
        margin: 0 auto;
        a{
            font-size: 3rem;
            color: #8e8f91;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            display: inline-block;
            padding: 10px;
        }
        a:hover{
            color: $hovercoloractive;
        }
    }
    h5{
        font-size: 1rem;
        color: $headingcolor;
        text-transform: uppercase;
        text-align: center;
        margin: 20px 0;
    }
    h6{
        font-size: 0.8rem;
        color: $headingcolor;
        text-transform: capitalize;
        text-align: center;
    }
}