$headingcolor: #16171b;
$subtextcolor: #919191;
$blogbackground: #f9f8fc;
$hovercolor: #ff5253;
$paragraphcolor: #919191;
$loadingimagecolor: #f2f3f5;
$hovercolorinactive: rgba(255,255,255,0);
$hovercoloractive: rgba(37, 35, 58, 0.8);
$h4color: #13161d;
$spancolor: #929294;

#testimonials-section{
    padding: 80px 15px;
    .container{

        .title{
            position: relative;
            width: 150px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 30px;
            .square{
                background: $shapecolor;
                width: 150px;
                height: 150px;
                position: absolute;
                z-index: 0;
                top: 0px;
            }
            h1{
                color: $headingcolor;
                font-size: 2.5rem;
                font-weight: 900;
                letter-spacing: 4px;
                text-transform: uppercase;
                position: relative;
                z-index: 1;
            }
        }
        .testimonials-container{
            display: grid;
            grid-template-columns: 12% 76% 12%;
            grid-gap: 15px;
            padding: 100px 0;
            .test-sides {
                display: flex;
                justify-content: center;
                align-content: center;
                .person-img{
                    background-position: center center !important; 
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                    background-color: $loadingimagecolor !important;
                    height: 80%;
                    width: 100%;
                    .hover-bg{
                        background: $hovercolorinactive;
                        height: 100%;
                        width: 100%;
                        transition: all 0.2s ease-in-out;
                        cursor: pointer;
                        .name{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.2s ease-in-out 0.1s;
                            font-weight: 700;
                            font-size: 2rem;
                            height: 100%;
                            width: 100%;
                            transform: translate3d(0, 50px, 0);
                            color: white;
                            opacity: 0;
                        }
                    }
                }
            }
            .test-sides:hover{
                .person-img{
                    .hover-bg{
                        background: $hovercoloractive;
                        height: 100%;
                        width: 100%;
                        .name{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.2s ease-in-out 0.1s;
                            font-weight: 700;
                            font-size: 2rem;
                            height: 100%;
                            width: 100%;
                            transform: translate3d(0, 0, 0);
                            color: white;
                            opacity: 1;
                        }
                    }
                }
            }
            .test-sides.test-left{
                .person-img{
                    .hover-bg{
                        .name{
                            
                        }
                    }
                }
            }
            .test-center{
                background: white;
                padding: 60px;
                -webkit-box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
                -moz-box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
                box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
                .header{
                    padding-bottom: 50px;
                    display: flex;
                    .user-img{
                        width: 150px !important;
                        height: 150px !important;
                        background-position: center center !important;
                        background-repeat: no-repeat !important;
                        background-size: cover !important;
                    }
                    .info{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        padding-left: 40px;
                        h4{
                            color: $h4color;
                            font-weight: 700;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            margin-bottom: 1rem;
                        }
                        span{
                            color: $spancolor;
                            font-weight: 400;
                            text-transform: capitalize;
                            letter-spacing: 2px;
                        }
                    }
                }
                p{
                    color: $spancolor;
                    font-weight: 400;
                    line-height: 1.7;
                    font-size: 1.4rem;
                }
            }
            .test-sides.test-right{
                .person-img{
                    .hover-bg{
                        .name{
                            
                        }
                    }
                }
            }
        }
    }
}
// Responsiveness Controls

// Mobile Devices iPhone5/SE iPhone6/7/8/8 Plus
@media only screen and  (min-width: 320px) and (max-width:767px){
    #testimonials-section{
        
        .container{
    
            .title{
                
                .square{
                    
                }
                h1{
                    
                }
            }
            .testimonials-container{
                grid-template-columns: 50% 50%;
                grid-template-rows: 100px 1fr;
                grid-gap: 0;
                .test-sides {
                    
                    .person-img{
                        
                        .hover-bg{
                            
                            .name{
                                
                            }
                        }
                    }
                }
                .test-sides:hover{
                    .person-img{
                        .hover-bg{
                            
                            .name{
                                
                            }
                        }
                    }
                }
                .test-sides.test-left{
                    grid-column: 1 / 2 ;
                    grid-row: 1 / 2 ;
                    .person-img{
                        background-position: center 0% !important;
                        .hover-bg{
                            .name{
                                
                            }
                        }
                    }
                }
                .test-center{
                    grid-column: 1 / 3 ;
                    grid-row: 2 / 3 ;
                    padding: 20px;
                    .header{
                        
                        .user-img{
                            
                        }
                        .info{
                            
                            h4{
                                
                            }
                            span{
                                font-size: 0.8rem;
                            }
                        }
                    }
                    p{
                        font-size: 1rem;
                    }
                }
                .test-sides.test-right{
                    grid-column: 2 / 3;
                    grid-row: 1 / 2 ;
                    .person-img{
                        background-position: center 0% !important;
                        .hover-bg{
                            .name{
                                
                            }
                        }
                    }
                }
            }
        }
    } 
}

// Mobile Devices - (Also iPad Size)
@media only screen and (min-width: 768px){
    @media only screen and (min-width: 320px) and (max-width:767px){
        #testimonials-section{
            
            .container{
        
                .title{
                    
                    .square{
                        
                    }
                    h1{
                        
                    }
                }
                .testimonials-container{
                    grid-grap: 0;
                    .test-sides {
                        
                        .person-img{
                            
                            .hover-bg{
                                
                                .name{
                                    
                                }
                            }
                        }
                    }
                    .test-sides:hover{
                        .person-img{
                            .hover-bg{
                                
                                .name{
                                    
                                }
                            }
                        }
                    }
                    .test-sides.test-left{
                        .person-img{
                            .hover-bg{
                                .name{
                                    
                                }
                            }
                        }
                    }
                    .test-center{
                        
                        .header{
                            
                            .user-img{
                                
                            }
                            .info{
                                
                                h4{
                                    
                                }
                                span{
                                    
                                }
                            }
                        }
                        p{
                            
                        }
                    }
                    .test-sides.test-right{
                        .person-img{
                            .hover-bg{
                                .name{
                                    
                                }
                            }
                        }
                    }
                }
            }
        } 
    }
}

// Tablets Between 769px and 1023px
@media only screen and (min-width: 769px) and (max-width: 1023px){
    @media only screen and (min-width: 320px) and (max-width:767px){
        #testimonials-section{
            
            .container{
        
                .title{
                    
                    .square{
                        
                    }
                    h1{
                        
                    }
                }
                .testimonials-container{
                    
                    .test-sides {
                        
                        .person-img{
                            
                            .hover-bg{
                                
                                .name{
                                    
                                }
                            }
                        }
                    }
                    .test-sides:hover{
                        .person-img{
                            .hover-bg{
                                
                                .name{
                                    
                                }
                            }
                        }
                    }
                    .test-sides.test-left{
                        .person-img{
                            .hover-bg{
                                .name{
                                    
                                }
                            }
                        }
                    }
                    .test-center{
                        
                        .header{
                            
                            .user-img{
                                
                            }
                            .info{
                                
                                h4{
                                    
                                }
                                span{
                                    
                                }
                            }
                        }
                        p{
                            
                        }
                    }
                    .test-sides.test-right{
                        .person-img{
                            .hover-bg{
                                .name{
                                    
                                }
                            }
                        }
                    }
                }
            }
        } 
    }
}

// Desktop Between 1024px and 1215px
@media only screen and (min-width: 1024px) and (max-width: 1215px){
    @media only screen and (min-width: 320px) and (max-width:767px){
        #testimonials-section{
            
            .container{
        
                .title{
                    
                    .square{
                        
                    }
                    h1{
                        
                    }
                }
                .testimonials-container{
                    
                    .test-sides {
                        
                        .person-img{
                            
                            .hover-bg{
                                
                                .name{
                                    
                                }
                            }
                        }
                    }
                    .test-sides:hover{
                        .person-img{
                            .hover-bg{
                                
                                .name{
                                    
                                }
                            }
                        }
                    }
                    .test-sides.test-left{
                        .person-img{
                            .hover-bg{
                                .name{
                                    
                                }
                            }
                        }
                    }
                    .test-center{
                        
                        .header{
                            
                            .user-img{
                                
                            }
                            .info{
                                
                                h4{
                                    
                                }
                                span{
                                    
                                }
                            }
                        }
                        p{
                            
                        }
                    }
                    .test-sides.test-right{
                        .person-img{
                            .hover-bg{
                                .name{
                                    
                                }
                            }
                        }
                    }
                }
            }
        } 
    }
}

// Widescreen between 1216px and 1407px
@media only screen and (min-width: 1216px) and (max-width: 1407px){
    @media only screen and (min-width: 320px) and (max-width:767px){
        #testimonials-section{
            
            .container{
        
                .title{
                    
                    .square{
                        
                    }
                    h1{
                        
                    }
                }
                .testimonials-container{
                    
                    .test-sides {
                        
                        .person-img{
                            
                            .hover-bg{
                                
                                .name{
                                    
                                }
                            }
                        }
                    }
                    .test-sides:hover{
                        .person-img{
                            .hover-bg{
                                
                                .name{
                                    
                                }
                            }
                        }
                    }
                    .test-sides.test-left{
                        .person-img{
                            .hover-bg{
                                .name{
                                    
                                }
                            }
                        }
                    }
                    .test-center{
                        
                        .header{
                            
                            .user-img{
                                
                            }
                            .info{
                                
                                h4{
                                    
                                }
                                span{
                                    
                                }
                            }
                        }
                        p{
                            
                        }
                    }
                    .test-sides.test-right{
                        .person-img{
                            .hover-bg{
                                .name{
                                    
                                }
                            }
                        }
                    }
                }
            }
        } 
    }
}
// FullHD 1408px and above
@media only screen and (min-width: 1408px){
    @media only screen and (min-width: 320px) and (max-width:767px){
        #testimonials-section{
            
            .container{
        
                .title{
                    
                    .square{
                        
                    }
                    h1{
                        
                    }
                }
                .testimonials-container{
                    
                    .test-sides {
                        
                        .person-img{
                            
                            .hover-bg{
                                
                                .name{
                                    
                                }
                            }
                        }
                    }
                    .test-sides:hover{
                        .person-img{
                            .hover-bg{
                                
                                .name{
                                    
                                }
                            }
                        }
                    }
                    .test-sides.test-left{
                        .person-img{
                            .hover-bg{
                                .name{
                                    
                                }
                            }
                        }
                    }
                    .test-center{
                        
                        .header{
                            
                            .user-img{
                                
                            }
                            .info{
                                
                                h4{
                                    
                                }
                                span{
                                    
                                }
                            }
                        }
                        p{
                            
                        }
                    }
                    .test-sides.test-right{
                        .person-img{
                            .hover-bg{
                                .name{
                                    
                                }
                            }
                        }
                    }
                }
            }
        } 
    }
}