@import "reset";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700&display=swap');
@import "top-section";
@import "services";
@import "portfolio";
@import "experience";
@import "blog";
@import "testimonials";

$grey: #eeee;


*{
  box-sizing: border-box;
  text-decoration: none;
}
// body{
//   background: $grey;
// }

.container{
  max-width: 1120px;
  margin: 0 auto;
}

