@import "reset";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700&display=swap');
@import "top-section";
@import "services";
@import "portfolio";
@import "experience";
@import "blog";
@import "testimonials";
@import "footer";

$grey: #eeee;
$hovercolor:rgba(37, 35, 58,1);


*{
  box-sizing: border-box;
  text-decoration: none;
}
// body{
//   background: $grey;
// }

.container{
  max-width: 1150px;
  margin: 0 auto;
}

header{
  display: flex;
  padding: 20px;
  justify-content: space-between;
  .logo{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
    display: flex;
    .name{
      background: black;
      padding: 15px 20px;
      text-decoration: none;
      color: white;
    }
  }
  .header-menu{
    font-size: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
      font-size: 1rem;
      text-decoration: none;
      color: black;
      padding: 0 10px 0;
      font-weight: 700;
      border-radius: 1px;
      transition: color 0.3s ease-in-out;
      transition: background 0.1s ease-in-out;
    }
    a:hover{
      font-weight: 700;
      color: rgb(237, 242, 245);
      background: rgba(92, 92, 92, 0.534);
    }
  }
  .menu-btn{
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
}
.mobile-menu{
  background: white;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 50%;
  z-index: 10;
  transform: translate3d(-100%, 0, 0);
  transition: all 0.4s ease-in-out;
  a{
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: all 0.1s ease-in-out;
  }
  a:hover{
    text-decoration: none;
    color: rgb(237, 242, 245);
    background: rgba(92, 92, 92, 0.534)
  }
}
.mobile-menu.active{
  transform: translate3d(0, 0, 0);
  -webkit-box-shadow: 2px 0px 75px -15px rgba(0,0,0,0.50);
  -moz-box-shadow: 2px 0px 75px -15px rgba(0,0,0,0.50);
  box-shadow: 2px 0px 75px -15px rgba(0,0,0,0.50);
}

//Breakpoints Researched from Bulma.io (https://bulma.io/documentation/overview/responsiveness/)

// Responsiveness Controls

// Mobile Devices iPhone5/SE iPhone6/7/8/8 Plus
@media only screen and (min-width: 320px) and (max-width:767px){
  header{
    
    .logo{
      padding: 10px 15px;
      font-size: 1.3rem;
    }
    .header-menu{
      display: none;
      a{
        
      }
      a:hover{
        
      }
    }
    .menu-btn{
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      font-size: 1.8rem;
    }
  }
}

// Mobile Devices - (Also iPad Size)
@media only screen and (min-width: 768px){
  header{
    
    .logo{
      padding: 10px 15px;
      font-size: 1.3rem;
    }
    .header-menu{
      display: none;
      a{
        
      }
      a:hover{
        
      }
    }
    .menu-btn{
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      font-size: 1.8rem;
    }
  }
}
// Tablets Between 769px and 1023px
@media only screen and (min-width: 769px) and (max-width: 1023px){
  header{
    
    .logo{
      
    }
    .header-menu{
      font-size: 1rem;
      text-decoration: none;
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      align-items: center;
  
      a{
        font-size: 1rem;
        text-decoration: none;
        color: black;
        padding: 0 10px 0;
        font-weight: 700;
        border-radius: 1px;
        transition: color 0.3s ease-in-out;
        transition: background 0.1s ease-in-out;
      }
      a:hover{
        
      }
    }
    .menu-btn{
      display: none;
    }
  }
}

// Desktop Between 1024px and 1215px
@media only screen and (min-width: 1024px) and (max-width: 1215px){
  header{
    
    .logo{
      
    }
    .header-menu{
      font-size: 1rem;
      text-decoration: none;
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      align-items: center;
  
      a{
        font-size: 1rem;
        text-decoration: none;
        color: black;
        padding: 0 10px 0;
        font-weight: 700;
        border-radius: 1px;
        transition: color 0.3s ease-in-out;
        transition: background 0.1s ease-in-out;
      }
      a:hover{
        
      }
    }
    .menu-btn{
      display: none;
    }
  }
}

// Widescreen between 1216px and 1407px
@media only screen and (min-width: 1216px) and (max-width: 1407px){
  header{
    
    .logo{
      
    }
    .header-menu{
      font-size: 1rem;
      text-decoration: none;
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      align-items: center;
  
      a{
        font-size: 1rem;
        text-decoration: none;
        color: black;
        padding: 0 10px 0;
        font-weight: 700;
        border-radius: 1px;
        transition: color 0.3s ease-in-out;
        transition: background 0.1s ease-in-out;
      }
      a:hover{
        
      }
    }
    .menu-btn{
      display: none;
    }
  }
}
// FullHD 1408px and above
@media only screen and (min-width: 1408px){
  header{
    
    .logo{
      
    }
    .header-menu{
      font-size: 1rem;
      text-decoration: none;
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      align-items: center;
  
      a{
        font-size: 1rem;
        text-decoration: none;
        color: black;
        padding: 0 10px 0;
        font-weight: 700;
        border-radius: 1px;
        transition: color 0.3s ease-in-out;
        transition: background 0.1s ease-in-out;
      }
      a:hover{
        
      }
    }
    .menu-btn{
      display: none;
    }
  }
}